<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	  http://www.springframework.org/schema/aop 
	  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	  http://www.springframework.org/schema/tx 
	  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	  http://www.springframework.org/schema/context 
	  http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <!-- *************************************************************************************************************
                                                Transactions
     ************************************************************************************************************* -->
     
 	<bean id="mercatoTM" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
 		<property name="sessionFactory">
 			<ref bean="mercatoSF"/>
 		</property>
 	</bean>
 	
 	<!--
		*************************************************************************************************************
		Aop : cut points
		*************************************************************************************************************
	-->
	<aop:aspectj-autoproxy />
    
	<aop:config>
		<aop:pointcut id="transferManagerMethods" expression="execution(* com.alten.mercato.server.manager.interf.TransferManager.*(..))"/>
      <aop:advisor
            pointcut-ref="transferManagerMethods"
            advice-ref="txMercato" order="1"/>

	</aop:config>
	
	<!-- *************************************************************************************************************
                                                Transaction injections
     ************************************************************************************************************* -->
     
     <tx:advice id="txMercato" transaction-manager="mercatoTM">
     	<tx:attributes>
     		<tx:method name="save*" read-only="false" propagation="REQUIRED" rollback-for="java.lang.exception"/>
     		<tx:method name="start*" read-only="false" propagation="REQUIRED" rollback-for="java.lang.exception"/>
     		<tx:method name="signal*" read-only="false" propagation="REQUIRED" rollback-for="java.lang.exception"/>
     		<tx:method name="init*" read-only="false" propagation="REQUIRED" rollback-for="java.lang.exception"/>
     		<tx:method name="*" propagation="REQUIRED" read-only="true"/>
     	</tx:attributes>
     </tx:advice>
</beans>