<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	  http://www.springframework.org/schema/aop 
	  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	  http://www.springframework.org/schema/tx 
	  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="com.alten.mercato.server.controller" />
	<!-- The application context definition for the DispatcherServlet -->

	<!-- Maps the request through to a concrete controller instance -->
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	
		
		<property name="mappings">
			<map>
				<entry key="/**/demoService.rpc" value-ref="demoService" />
				<entry key="/**/personService.rpc" value-ref="personService" />
				<entry key="/**/transferService.rpc" value-ref="transferService" />
				<entry key="/**/userService.rpc" value-ref="userService" />
				<entry key="/**/destroySession" value-ref="DestroySessionController" />
			</map>
		</property>
	</bean>

	<!--
		GwtRpcController wraps our service in order to decode the incoming
	-->
	<!--
		request then delegates processing of the call to the POJO service
	-->
	<!-- and then encodes the return value forwarding the response. -->
	<bean id="demoService" class="org.gwtwidgets.server.spring.hb4gwt.HB4GWTRPCServiceExporter">
		 <property name="service" ref="demoController" />
		 <property name="beanManager" ref="hbmMercato"/>
	</bean>
	
	<bean id="personService" class="org.gwtwidgets.server.spring.hb4gwt.HB4GWTRPCServiceExporter">
		 <property name="service" ref="personController" />
		 <property name="beanManager" ref="hbmMercato"/>
	</bean>
	
	<bean id="transferService" class="org.gwtwidgets.server.spring.hb4gwt.HB4GWTRPCServiceExporter">
		 <property name="service" ref="transferController" />
		 <property name="beanManager" ref="hbmMercato"/>
	</bean>
	
	<bean id="userService" class="org.gwtwidgets.server.spring.hb4gwt.HB4GWTRPCServiceExporter">
		 <property name="service" ref="userController" />
		 <property name="beanManager" ref="hbmMercato"/>
	</bean>
	
</beans>